
@model Deshport.Domain.ViewModel.Client.RegisterView

<div class="main_login_form">
    <div class="card-header">
        <h3 class="mb-0 text-center ParagraphHome">Регистрация</h3>                            
    </div>
    <div class="card-body">
        <form autocomplete="on" method="post" asp-controller="Client" asp-action="Register">
           <div asp-validation-summary="All" style="font-size:15px; class="text-danger text-center"></div>
           <div class="form-group">
                <input asp-for="FirstName" placeholder="Firstname" class="form-control textbox-dg font-weight-bold text-center" type="text">                                   
           </div>
           <div class="form-group">
                <input asp-for="LastName" placeholder="LastName" class="form-control textbox-dg font-weight-bold text-center" type="text">                                   
           </div>
           <div class="form-group">
                <input asp-for="Mail" placeholder="email" class="form-control textbox-dg font-weight-bold text-center" type="email">                                   
           </div>
           <div class="form-group">
               <input asp-for="Password" placeholder="password" class="form-control textbox-dg font-weight-bold text-center" type="password">                                   
           </div>                               
           <div class="form-group">
               <input asp-for="PasswordConfirm" placeholder="confirm" class="form-control textbox-dg font-weight-bold text-center" type="password">                                   
           </div> 
           <button class="btn btn-success  float-right m-1">Registration</button>
        </form>                        
    </div>                   
</div>