html {
  font-size: 14px;
  overflow: hidden
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

body > header{
    background-color: aqua;
}
table img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
#list_product{
    height: 70rem;
    background-color: papayawhip;
    overflow-y:scroll;
}
